node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/Users/meera/Documents/Codeworks/Projects/Solo Project/tsundoku/BookModalDeprecated.tsx
